*{
    margin: 0px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Trebuchet MS', sans-serif;
}

body{
    background-color: #4b4b4b;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

nav > a, #valgt-side{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(164, 164, 164);
    font-size: 30px;
    padding: 20px 50px;
}

#valgt-side{
    text-decoration: underline;
}

nav > a:hover, #valgt-side:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* ---------------------------------------------------------------------- */


#forside{
    width: 100%;
}

#reisevei{
    background-color: rgb(107, 107, 107);
    padding: 40px;
    margin: 10px 200px;
    border-radius: 20px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.517);
    border: 5px solid rgb(30, 43, 50);

}

h1{
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 100px;
}

p{
    color: white;
    margin: 80px 0px;
    margin-bottom: 40px;
    font-size: 25px;
}

table{
    color: rgb(255, 255, 255);
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 40px;
    font-size: 25px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    border-collapse: collapse;
}
td{
    border-bottom: 5px solid rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
}

div > img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(22, 31, 36);
}

footer{
    height: 200px;
}